/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    color: #272727;
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, sans-serif;
}

h2 {
    font-size: 120%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
}

h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
}

.title-section {
    background-color: #f5f5f5;
    /* Fallback colour */
    background: url(../images/snare-top.jpg) no-repeat center center/cover;
    height: 5rem;
    background-size: 160%;
}

.title-section h1 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #272727;
    /* width: 5rem; */
    height: 5rem;
    position: absolute;
    left: 15%;
    align-items: end;
    padding: 0.2rem 0 0 0;
}


/* Header - Navbar */
.navbar-section {
    width: 100%;
    height: 2rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

nav li a {
    color: #272727;
    text-decoration: none;
    font-size: 90%;
    padding: 0 0.2rem 0 0.2rem;
}

/* Main content - General */
main {
    background-color: #f8f7a2;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 7rem;
    min-height: 2000px;
    /* This has to be removed later */
}

/* Main content - Home - Banner section */
.banner {
    width: 100%;
    padding: 0 5% 0 5%;
}

/* .banner h2 {
    font-size: 120%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

.hero-image {
    background: url(../images/hero-1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 10rem;
}

/* Main content - Home - Why section */

.sections-general {
    margin: 1.5rem 5% 1.5rem 5%;
    /* border: 2px solid black; */
    /* This has to be removed later */

}

/* .why-section h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

.why-list {
    padding-left: 1.25rem;
}

.why-list li {
    margin: 0.125rem 0 0.25rem 0;
    font-size: 90%;
}

/* Main content - Home - Pricing section */

.pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-image {
    background: url(../images/drumset-top.jpg) no-repeat center center/cover;
    width: 100%;
    height: 7rem;
}

/* .price-heading h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

.price-table {
    border: #272727;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
}

table,
th,
td {
    padding: 2px;
    border: #272727;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    font-size: 90%;
}

.lesson-frquency {
    margin-top: 20px;
    font-size: 70%;
}

.free-trial {
    border: #272727;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    /* display: flex;
    justify-content: center; */
    /* can be deleted */
    margin: 1.5rem 0 0.5rem 0;
    background-color: #f5f5f5;
    padding: 0.5rem;
}

.trial-button {
    color: #272727;
    text-decoration: none;
}

/* Main content - Home - Location section */
.location-image {
    background: url(../images/drumset-side.jpg) no-repeat center center/cover;
    width: 100%;
    height: 7rem;
}

.location {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .find-us {
    padding: 0.2rem 0 0.2rem 0;
} */

.address {
    font-size: 90%;
    padding: 0 0 0.2rem 0;
}

/* .location-section h3{
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

/* Main content - Home - End of homepage section */
.home-end-image {
    background: url(../images/hero-2.jpg) no-repeat center 35% / cover;
    height: 15rem;
}

/* .home-end-image img {
    width: 100%;
    height: 100%;
} */

.quote {
    font-size: 90%;
    margin: 0.25rem 0 0.25rem 0;
}

.quotation {
    text-align: center;
}

.quote-source {
    text-align: right;
}


/* Main content - Contact Us */

.contact-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    font-size: 90%;
}

.signup-input {
    border: #272727;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 0.2rem;
    margin: 0.125rem 0 0.5rem 0;
}

.submit-button {
    padding: 0.5rem;
    font-family: 'Merriweather', serif;
    font-size: 90%;
    align-self: center;
    border: #272727;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    /* padding: 0.625rem; */
    width: fit-content;
    margin: 1.5rem 0 0.5rem 0;
    background-color: #f5f5f5;
    align-self: center;
}

.contact-end-image {
    background: url(../images/hero-3.jpg) no-repeat 50% 25% / cover;
        /* background-position: 50% 25%; */
    height: 15rem;
}

/* Confimation */

.confimation-message p {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    width: 100%;
}

.social {
    width 100%;
    padding: 10px 0 10px 0;
}

.visit-us {
    display: flex;
    justify-content: center;
}

.visit-us h4 {
    font-size: 100%;
    padding-bottom: 0.25rem;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.social-links a {
    color: #272727;
    text-decoration: none;
}




/* Media query large devices 768px and up */
@media screen and (min-width: 768px) {
    h2 {
        font-size: 144%;
        /* change */
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        text-align: center;
    }

    h3 {
        font-size: 132%;
        /* change */
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        text-align: center;
    }

    .title-section {
        background-color: #f5f5f5;
        /* Fallback colour */
        background: url(../images/snare-top.jpg) no-repeat center center/cover;
        height: 6rem;
        /* change */
        background-size: 160%;
    }

    .title-section h1 {
        display: flex;
        flex-direction: row;
        /* change */
        font-size: 3.5rem;
        /* change */
        color: #272727;
        /* width: 6rem; */
        /* change */
        height: 6rem;
        /* change */
        position: absolute;
        left: 12%;
        /* change */
        align-items: center;
        /* change */
        padding: 0.2rem 0 0 0;
    }

    .title-section p {
        padding: 0 0.5rem 0 0.5rem;
        /* change */
    }

    /* Header - Navbar */
    .navbar-section {
        height: 2.4rem;
        /* change */
    }

    nav li a {
        font-size: 100%;
        /* change */
    }

    /* Main content - General */
    main {
        background-color: #f8f7a2;
        /* Make main element take up any surplus space to push footer down */
        flex: 1 0 auto;
        margin-top: 8.4rem;
        /* change */
        /* min-height: 2000px; /* This has to be removed later */
        */
    }

    /* Main content - Home - Banner section */
    .banner {
        width: 100%;
        padding: 0 5% 0 5%;
    }

    /* .banner h2 {
    font-size: 120%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .hero-image {
        background: url(../images/hero-1.jpg) no-repeat center center/cover;
        width: 100%;
        height: 10rem;
    }

    /* Main content - Home - Why section */

    .sections-general {
        margin: 1.5rem 5% 1.5rem 5%;
        /* border: 2px solid black; /* This has to be removed later */
        */
    }

    /* .why-section h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .why-list {
        padding-left: 1.25rem;
    }

    .why-list li {
        margin: 0.125rem 0 0.25rem 0;
        font-size: 100%;
        /* change */
    }

    /* Main content - Home - Pricing section */

    .pricing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing-image {
        background: url(../images/drumset-top.jpg) no-repeat center center/cover;
        width: 100%;
        height: 8.3rem;
        /* change */
    }

    /* .price-heading h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .price-table {
        border: #272727;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        width: fit-content;
    }

    table,
    th,
    td {
        padding: 2px;
        border: #272727;
        border-width: 1px;
        border-style: solid;
        border-collapse: collapse;
        font-size: 100%;
        /* change */
    }

    .lesson-frquency {
        margin-top: 20px;
        font-size: 84%;
        /* change */
        width: 45ch;
        /* change/add */
    }

    .free-trial {
        border: #272727;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        /* display: flex;
    justify-content: center; */
        /* can be deleted */
        margin: 1.8rem 0 0.6rem 0;
        /* change */
        background-color: #f5f5f5;
        padding: 0.5rem;
    }

    .trial-button {
        color: #272727;
        text-decoration: none;
    }

    /* Main content - Home - Location section */
    .location-image {
        background: url(../images/drumset-side.jpg) no-repeat center center/cover;
        width: 100%;
        height: 8.3rem;
        /* change */
    }

    .location {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .find-us {
    padding: 0.2rem 0 0.2rem 0;
} */

    .address {
        font-size: 100%;
        /* change */
        padding: 0 0 0.2rem 0;
    }

    /* .location-section h3{
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    /* Main content - Home - End of homepage section */
    .home-end-image {
        background: url(../images/hero-2.jpg) no-repeat center 35% / cover;
        height: 18rem;
    }

    /* .home-end-image img {
    width: 100%;
    height: 100%;
} */

    .quote {
        font-size: 100%;
        /* change */
        margin: 0.25rem 0 0.25rem 0;
    }

    .quotation {
        text-align: center;
    }

    .quote-source {
        text-align: right;
    }

    /* Main content - Contact Us */

    .contact-section {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        padding: 0 15% 0 15%;
    }

    .signup-form label {
        font-size: 100%;
        /* change */
    }

    .signup-input {
        border: #272727;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        padding: 0.2rem;
        margin: 0.125rem 0 0.5rem 0;
    }

    .submit-button {
        padding: 0.625rem;
        font-family: 'Merriweather', serif;
        font-size: 100%;
        /* change */
        border: #272727;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        /* padding: 0.625rem; */
        width: fit-content;
        margin: 1.8rem 0 0.6rem 0;
        /* change */
        background-color: #f5f5f5;
        align-self: center;
    }

    .contact-end-image {
        background: url(../images/hero-3.jpg) no-repeat 50% 25% / cover;
        /* background-position: 50% 25%; */
        height: 25rem; /* change */
        align-self: center; /* change/add */
        width: 60%; /* change/add */
    }

}

/* Media query large devices 992px and up */
@media screen and (min-width: 992px) {
    h2 {
        font-size: 144%;
        /* change */
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        text-align: center;
    }

    h3 {
        font-size: 132%;
        /* change */
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        text-align: center;
    }

    .title-section {
        background-color: #f5f5f5;
        /* Fallback colour */
        background: url(../images/snare-top.jpg) no-repeat center center/cover;
        height: 12rem;
        /* change */
        background-size: 160%;
    }

    .title-section h1 {
        display: flex;
        flex-direction: column;
        /* change */
        font-size: 5rem;
        /* change */
        color: #272727;
        /* width: 6rem; */
        height: 12rem;
        position: absolute;
        left: 14%;
        /* change */
        align-items: end;
        /* change */
        padding: 0.2rem 0 0 0;
    }

    .title-section p {
        padding: 0 0.5rem 0 0.5rem;
        /* change */
    }

    /* Header - Navbar */
    .navbar-section {
        height: 3rem;
        /* change */
    }

    nav li a {
        font-size: 100%;
    }

    nav li a:hover {
        border-bottom: 2px solid #272727;
    }

    /* Main content - General */
    main {
        background-color: #f8f7a2;
        /* Make main element take up any surplus space to push footer down */
        flex: 1 0 auto;
        margin-top: 15rem;
        /* change */
        /* min-height: 2000px; /* This has to be removed later */
        */
    }

    /* Main content - Home - Banner section */
    .banner {
        width: 100%;
        padding: 0 5% 0 5%;
    }

    .banner h2 {
        /* font-size: 120%; */
        /* padding-bottom: 1rem; */
        /* text-align: center; */
    }

    .hero-image {
        background: url(../images/hero-1.jpg) no-repeat center center/cover;
        width: 100%;
        height: 16rem;
        /* change */
    }

    /* Main content - Home - Why section */

    .sections-general {
        margin: 1.5rem 5% 1.5rem 5%;
        /* border: 2px solid black; /* This has to be removed later */
        */
    }

    .why-section {
        display: flex;
        /* change/add */
        flex-direction: column;
        /* change/add */
        align-items: center;
        /* change/add */
    }

    /* .why-section h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .why-list {
        padding-left: 1.25rem;
        width: 55ch;
        /* change/add */
    }

    .why-list li {
        margin: 0.125rem 0 0.25rem 0;
        font-size: 100%;
        /* change */
    }

    /* Main content - Home - Pricing section */
    #pricing {
        scroll-margin-top: 15rem;
    }

    .pricing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing-image {
        background: url(../images/drumset-top.jpg) no-repeat center center/cover;
        width: 100%;
        height: 15rem;
        /* change */
    }

    /* .price-heading h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .price-table {
        border: #272727;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        width: fit-content;
    }

    table,
    th,
    td {
        padding: 2px;
        border: #272727;
        border-width: 1px;
        border-style: solid;
        border-collapse: collapse;
        font-size: 100%;
        /* change */
    }

    .lesson-frquency {
        margin-top: 20px;
        font-size: 84%;
        /* change */
        width: 45ch;
        /* change/add */
    }

    .free-trial {
        border: #272727;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        /* display: flex;
    justify-content: center; */
        /* can be deleted */
        margin: 1.8rem 0 0.6rem 0;
        /* change */
        background-color: #f5f5f5;
        padding: 0.5rem;
    }

    .trial-button {
        color: #272727;
        text-decoration: none;
    }

    /* Main content - Home - Location section */
    .location-section {
        scroll-margin-top: 15rem;
    }

    .location-image {
        background: url(../images/drumset-side.jpg) no-repeat center center/cover;
        width: 100%;
        height: 15rem;
        /* change */
    }

    .location {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .find-us {
    padding: 0.2rem 0 0.2rem 0;
} */

    .address {
        font-size: 100%;
        /* change */
        padding: 0 0 0.2rem 0;
    }

    /* .location-section h3{
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    /* Main content - Home - End of homepage section */
    .home-end-image {
        background: url(../images/hero-2.jpg) no-repeat center 35% / cover;
        height: 18rem;
    }

    /* .home-end-image img {
    width: 100%;
    height: 100%;
} */

    .quote {
        font-size: 100%;
        /* change */
        margin: 0.25rem 0 0.25rem 0;
    }

    .quotation {
        text-align: center;
    }

    .quote-source {
        text-align: right;
    }

    /* Main content - Contact Us */

    .contact-section {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        padding: 0 15% 0 15%;
    }

    .signup-form label {
        font-size: 100%;
        /* change */
    }

    .signup-input {
        border: #272727;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        padding: 0.2rem;
        margin: 0.125rem 0 0.5rem 0;
    }

    .submit-button {
        padding: 0.625rem;
        font-family: 'Merriweather', serif;
        font-size: 100%;
        /* change */
        border: #272727;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        /* padding: 0.625rem; */
        width: fit-content;
        margin: 1.8rem 0 0.6rem 0;
        /* change */
        background-color: #f5f5f5;
        align-self: center;
    }

    .contact-end-image {
        background: url(../images/hero-3.jpg) no-repeat 50% 25% / cover;
        /* background-position: 50% 25%; */
        align-self: center;
        height: 30rem; /* change */
        width: 60%; /* change/add */
    }

    /* Media query large devices 1200px and up */
@media screen and (min-width: 1200px) {
    h2 {
        font-size: 144%;
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        text-align: center;
    }

    h3 {
        font-size: 132%;
        /* change */
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        text-align: center;
    }

    .title-section {
        background-color: #f5f5f5;
        /* Fallback colour */
        background: url(../images/snare-top.jpg) no-repeat center center/cover;
        height: 12rem;
        /* change */
        background-size: 160%;
    }

    .title-section h1 {
        display: flex;
        flex-direction: column;
        /* change */
        font-size: 5rem;
        /* change */
        color: #272727;
        /* width: 6rem; */
        height: 12rem;
        position: absolute;
        left: 14%;
        /* change */
        align-items: end;
        /* change */
        padding: 0.2rem 0 0 0;
    }

    .title-section p {
        padding: 0 0.5rem 0 0.5rem;
        /* change */
    }

    /* Header - Navbar */
    .navbar-section {
        height: 3rem;
        /* change */
    }

    nav li a {
        font-size: 100%;
    }

    nav li a:hover {
        border-bottom: 2px solid #272727;
    }

    /* Main content - General */
    main {
        background-color: #f8f7a2;
        /* Make main element take up any surplus space to push footer down */
        flex: 1 0 auto;
        margin-top: 15rem;
        /* change */
        /* min-height: 2000px; /* This has to be removed later */
        */
    }

    /* Main content - Home - Banner section */
    .banner {
        width: 100%;
        padding: 0 5% 0 5%;
    }

    .banner h2 {
        /* font-size: 120%; */
        /* padding-bottom: 1rem; */
        /* text-align: center; */
    }

    .hero-image {
        background: url(../images/hero-1.jpg) no-repeat center center/cover;
        width: 100%;
        height: 16rem;
        /* change */
    }

    /* Main content - Home - Why section */

    .sections-general {
        margin: 1.5rem 5% 1.5rem 5%;
        /* border: 2px solid black; /* This has to be removed later */
        */
    }

    .why-section {
        display: flex;
        /* change/add */
        flex-direction: column;
        /* change/add */
        align-items: center;
        /* change/add */
    }

    /* .why-section h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .why-list {
        padding-left: 1.25rem;
        width: 55ch;
        /* change/add */
    }

    .why-list li {
        margin: 0.125rem 0 0.25rem 0;
        font-size: 100%;
        /* change */
    }

    /* Main content - Home - Pricing section */
    #pricing {
        scroll-margin-top: 15rem;
    }
    
    .pricing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricing-image {
        background: url(../images/drumset-top.jpg) no-repeat center center/cover;
        width: 100%;
        height: 15rem;
        /* change */
    }

    /* .price-heading h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    .price-table {
        border: #272727;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        width: fit-content;
    }

    table,
    th,
    td {
        padding: 2px;
        border: #272727;
        border-width: 1px;
        border-style: solid;
        border-collapse: collapse;
        font-size: 100%;
        /* change */
    }

    .lesson-frquency {
        margin-top: 20px;
        font-size: 84%;
        /* change */
        width: 45ch;
        /* change/add */
    }

    .free-trial {
        border: #272727;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        /* display: flex;
    justify-content: center; */
        /* can be deleted */
        margin: 1.8rem 0 0.6rem 0;
        /* change */
        background-color: #f5f5f5;
        padding: 0.5rem;
    }

    .trial-button {
        color: #272727;
        text-decoration: none;
    }

    /* Main content - Home - Location section */
    .location-section {
        scroll-margin-top: 15rem;
    }

    .location-image {
        background: url(../images/drumset-side.jpg) no-repeat center center/cover;
        width: 100%;
        height: 15rem;
        /* change */
    }

    .location {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* .find-us {
    padding: 0.2rem 0 0.2rem 0;
} */

    .address {
        font-size: 100%;
        /* change */
        padding: 0 0 0.2rem 0;
    }

    /* .location-section h3{
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
} */

    /* Main content - Home - End of homepage section */
    .home-end-image {
        background: url(../images/hero-2.jpg) no-repeat center 35% / cover;
        height: 18rem;
    }

    /* .home-end-image img {
    width: 100%;
    height: 100%;
} */

    .quote {
        font-size: 100%;
        /* change */
        margin: 0.25rem 0 0.25rem 0;
    }

    .quotation {
        text-align: center;
    }

    .quote-source {
        text-align: right;
    }

    /* Main content - Contact Us */

    .contact-section {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        padding: 0 15% 0 15%;
    }

    .signup-form label {
        font-size: 100%;
        /* change */
    }

    .signup-input {
        border: #272727;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        padding: 0.2rem;
        margin: 0.125rem 0 0.5rem 0;
    }

    .submit-button {
        padding: 0.625rem;
        font-family: 'Merriweather', serif;
        font-size: 100%;
        /* change */
        border: #272727;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        /* padding: 0.625rem; */
        width: fit-content;
        margin: 1.8rem 0 0.6rem 0;
        /* change */
        background-color: #f5f5f5;
        align-self: center;
    }

    .contact-end-image {
        background: url(../images/hero-3.jpg) no-repeat 50% 25% / cover;
        /* background-position: 50% 25%; */
        align-self: center;
        height: 30rem; /* change */
        width: 60%; /* change/add */
    }
}