/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    color: #272727;
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, sans-serif;
}

h2 {
    font-size: 120%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
}

h3 {
    font-size: 110%;
    padding: 1rem 0.25rem 0.25rem 0.25rem;
    text-align: center;
}

/* Header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
}

.title-section {
    background-color: #f5f5f5;
    /* Fallback colour */
    background: url(../images/snare-top.jpg) no-repeat center center/cover;
    height: 5rem;
    background-size: 160%;
}

.title-section h1 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #272727;
    height: 5rem;
    position: absolute;
    right: 53%;
    align-items: end;
    padding: 0.2rem 0 0 0;
}


/* Header - Navbar */
.navbar-section {
    width: 100%;
    height: 2rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

nav li a {
    color: #272727;
    text-decoration: none;
    font-size: 90%;
    padding: 0 0.2rem 0 0.2rem;
}

/* Main content - General */
main {
    background-color: #f8f7a2;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 7rem;
}

/* Main content - Home - Banner section */
.banner {
    width: 100%;
    padding: 0 5% 0 5%;
}

.hero-image {
    background: url(../images/hero-1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 10rem;
}

/* Main content - Home - Why section */

.sections-general {
    margin: 1.5rem 5% 1.5rem 5%;
}

.link-headings {
    background-color: #f5f5f5;
    margin-bottom: 0.5rem;
    width: fit-content;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 2%;
    height: 20rem;
    flex-basis: 50%;
}

.why-list {
    padding-left: 1.25rem;
}

.why-list li {
    margin: 0.125rem 0 0.25rem 0;
    font-size: 90%;
}

/* Main content - Home - Pricing section */

.pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-image {
    background: url(../images/drumset-top.jpg) no-repeat center center/cover;
    width: 100%;
    height: 7rem;
}

.price-table {
    border: #272727;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
}

table,
th,
td {
    padding: 2px;
    border: #272727;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    font-size: 90%;
}

.lesson-frquency {
    margin-top: 20px;
    font-size: 70%;
}

.free-trial {
    margin: 1.5rem 0 0.5rem 0;
}

.trial-button {
    color: #272727;
    text-decoration: none;
    border: #272727;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 0.5rem;
}

/* Main content - Home - Location section */
.location-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-image {
    background: url(../images/drumset-side.jpg) no-repeat center center/cover;
    width: 100%;
    height: 7rem;
}

.location {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address {
    font-size: 90%;
    padding: 0 0 0.2rem 0;
}

/* Main content - Home - End of homepage section */
.home-end-image {
    background: url(../images/hero-2.jpg) no-repeat center 35% / cover;
    height: 15rem;
}

.quote {
    font-size: 90%;
    margin: 0.25rem 0 0.25rem 0;
}

.quotation {
    text-align: center;
}

.quote-source {
    text-align: right;
}


/* Main content - Contact Us */

.contact-section {
    display: flex;
    flex-direction: column;
    margin: 0 5% 1.5rem 5%;
}

.info-signup {
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
    align-items: center;
}

.signup-form label {
    font-size: 90%;
}

.signup-input {
    border: #272727;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 0.2rem;
    margin: 0.125rem 0 0.5rem 0;
}

.submit-button {
    color: #272727;
    padding: 0.5rem;
    font-family: 'Merriweather', serif;
    font-size: 90%;
    align-self: center;
    border: #272727;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    margin: 1.5rem 0 0.5rem 0;
    background-color: #f5f5f5;
    align-self: center;
}

.contact-end-image {
    background: url(../images/hero-3.jpg) no-repeat 50% 25% / cover;
    height: 15rem;
}

/* Main content - Confirmation */
.confirmation-message {
    margin-bottom: 2rem;
}

.confirmation-message p {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.confirmation-end-image {
    background: url(../images/high-tom.jpg) no-repeat center 35% / cover;
    background-position: top;
    height: 15rem;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    width: 100%;
}

.social {
    width 100%;
    padding: 10px 0 10px 0;
}

.visit-us {
    display: flex;
    justify-content: center;
}

.visit-us h4 {
    font-size: 100%;
    padding-bottom: 0.25rem;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.social-links a {
    color: #272727;
    text-decoration: none;
}

/* Media query large devices 768px and up */
@media screen and (min-width: 768px) {
    h2 {
        font-size: 144%;
        /* change */
    }

    h3 {
        font-size: 132%;
        /* change */
    }

    .title-section {
        height: 6rem;
    }

    .title-section h1 {
        flex-direction: row;
        font-size: 3.5rem;
        height: 6rem;
        left: 13%;
        align-items: center;
    }

    .title-section p {
        padding: 0 0.5rem 0 0.5rem;
    }

    /* Header - Navbar */
    .navbar-section {
        height: 2.4rem;
    }

    nav li a {
        font-size: 100%;
        padding: 0 0.3rem 0 0.3rem;
    }

    /* Main content - General */
    main {
        margin-top: 8.4rem;
    }

    /* Main content - Home - Banner section */

    .banner h2 {
        padding-bottom: 0.5rem;
    }

    /* Main content - Home - Why section */
    .why-list li {
        font-size: 100%;
    }

    /* Main content - Home - Pricing section */
    .pricing-image {
        height: 8.3rem;
    }

    table,
    th,
    td {
        font-size: 100%;
    }

    .lesson-frquency {
        font-size: 84%;
        width: 45ch;
    }

    .free-trial {
        margin: 1.8rem 0 0.6rem 0;
    }

    /* Main content - Home - Location section */
    .location-image {
        height: 8.3rem;
    }

    .address {
        font-size: 100%;
    }

    /* Main content - Home - End of homepage section */
    .home-end-image {
        height: 18rem;
    }

    .quote {
        font-size: 100%;
    }

    /* Main content - Contact Us */
    .signup-form {
        padding: 0 20% 0 20%;
    }

    .signup-form label {
        font-size: 100%;
    }

    .submit-button {
        font-size: 100%;
        margin: 1.8rem 0 0.6rem 0;
    }

    .contact-end-image {
        height: 25rem;
        align-self: center;
        width: 60%;
    }

    /* Main content - Confirmation */
    .confirmation-end-image {
        height: 28rem;
    }

    /* Footer */
    .social-links {
        gap: 1.2rem;
    }
}

/* Media query large devices 992px and up */
@media screen and (min-width: 992px) {
    .title-section {
        height: 12rem;
    }

    .title-section h1 {
        flex-direction: column;
        font-size: 5rem;
        height: 12rem;
        right: 58%;
        align-items: end;
    }

    /* Header - Navbar */
    .navbar-section {
        height: 3rem;
    }

    nav li a {
        font-size: 110%;
        padding: 0 0.4rem 0 0.4rem;
    }

    /* Main content - General */
    main {
        margin-top: 15rem;
    }

    /* Main content - Home - Banner section */
    .banner h2 {
        padding-bottom: 1rem;
    }

    .hero-image {
        height: 16rem;
    }

    /* Main content - Home - Why section */

    .sections-general {
        margin: 0 5% 0 5%;
    }

    .why-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .why-list {
        width: 55ch;
    }

    /* Main content - Home - Pricing section */
    #pricing {
        scroll-margin-top: 15rem;
    }

    .pricing-section {
        flex-direction: row;
    }

    .pricing-image {
        height: 20rem;
        flex-basis: 50%;
    }

    /* Main content - Home - Location section */
    #location {
        scroll-margin-top: 15rem;
    }

    .location-section {
        flex-direction: row-reverse;
    }

    .location-image {
        height: 20rem;
        flex-basis: 50%;
    }

    /* Main content - Home - End of homepage section */

    /* Main content - Contact Us */

    .signup-form {
        padding: 0 25% 0 25%;
    }

    .submit-button:hover {
        color: #f5f5f5;
        padding: 0.625rem;
        font-family: 'Merriweather', serif;
        font-size: 100%;
        border: #f5f5f5;
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        width: fit-content;
        margin: 1.8rem 0 0.6rem 0;
        background-color: #272727;
        align-self: center;
    }

    .contact-end-image {
        height: 30rem;
        margin: 1.5rem 5% 1.5rem 5%;
    }

    /* Main content - Confirmation */
    .confirmation-end-image {
        height: 35rem;
    }

    /* Footer */
    .visit-us h4 {
        font-size: 110%;
    }

    .social-links {
        gap: 1.4rem;
    }
}

/* Media query large devices 1200px and up */
@media screen and (min-width: 1200px) {

    .title-section h1 {
        flex-direction: row;
        font-size: 6.7rem;
        left: 13%;
    }

    /* Header - Navbar */

    nav li a {
        font-size: 115%;
        padding: 0 0.5rem 0 0.5rem;
    }

    nav li a:hover {
        border-bottom: 2px solid #272727;
    }

    /* Main content - General */

    /* Main content - Home - Banner section */

    .banner h2 {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    /* Main content - Home - Why section */

    .sections-general {
        margin: 0 5% 0 5%;
    }

    .why-list {
        margin-bottom: 2rem;
    }

    /* Main content - Home - Pricing section */

    /* Main content - Home - Location section */

    /* Main content - Home - End of homepage section */

    /* Main content - Contact Us */

    .info-signup {
        display: flex;
        flex-direction: row;
    }

    .signup-form {
        padding: 0 10% 0 10%;
        height: 35rem;
        flex-basis: 60%;
    }

    /* Main content - Confirmation */
    .confirmation-end-image {
        height: 40rem;
    }

    /* Footer */
    .visit-us h4 {
        font-size: 115%;
    }

    .social-links {
        gap: 1.6rem;
    }
}